# Core scientific stack
numpy
pandas
scipy

# Signal processing
mne
mne_icalabel

# Machine learning
scikit-learn
tensorflow

# Visualization
matplotlib
seaborn
plotly

# Frontend
streamlit

# Configs
pyyaml
